@media all and (min-width: 480px) {
  .Settings {
    padding-bottom: 60px;
  }

  .Settings form {
    margin: 0 auto;
    max-width: 480px;
  }
}

@media (max-width: 479px) {
  .Settings form {
    margin: 0.5em;
  }
}
